#toastTip {
    display: none;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.1rem .16rem;
    min-width: 18%;
    max-width: 80%;
    /* 这里最大宽度可能不生效，内容过多展示宽度50%会折行 */
    line-height: 0.4rem;
    font-size: 0.28rem;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 0.1rem;
    z-index: 100;
}